<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>test01</title>
	<link rel="stylesheet" href="style.css" />
	
</head>
<body>
	<div id="app">
		<div class="container">
			<div class="form-group">
				<label >search</label>
				<input type="text" class="search-input" v-model="searchStr">
			</div>
		</div>
		<div class="container">
			<simple-grid :data-list="people" :columns="columns" :search-key="searchStr" >
			</simple-grid>
		</div>
	</div>

	<template id="grid-template">
	<div>
	<!-- 直接将子组件modal-dialog放在 simple-grid组件时报错“ Component template should contain exactly one root element”，故加一个根元素div，问题解决，原因未明-->
	    <table>
	    	<thead>
	    		<tr>
	    			<th v-for="col in columns">
	    				{{col.name}}
	    			</th>
	    			<th>
	    				delete
	    			</th>
	    		</tr>
	    	</thead>
	    	<tbody>
	    		<tr v-for="(entry,index) in filterFn(dataList,searchKey)">
	    			<td v-for="col in columns">
	    				{{entry[col.name]}}
	    			</td>
	    			<td  class="text-center">
	    			    <button class="btn-danger" @click="deleteItem(index)">delete</button>
	    			</td>
	    		</tr>
	    	</tbody>
	    </table>
	    <div class="container">
        <button class="btn" @click="openNewItemDialog('Create new item')">Create</button>
    </div>
	     <modal-dialog :mode="mode" :title="title" :fields="columns" :item="item" v-on:create-item="createItem"></modal-dialog>
    </div>
	</template>

	<template id="dialog-template">
    <div class="dialogs" >
        <div class="dialog" v-bind:class="{ 'dialog-active': show }">
            <div class="dialog-content">
                <header class="dialog-header">
                    <h1 class="dialog-title">{{ title }}</h1>
                </header>

                <div v-for="field in fields" class="form-group" >
                    <label>{{ field.name }}</label>
                    <select v-if="field.dataSource" v-model="item[field.name]">
                        <option v-for="opt in field.dataSource" :value="opt">{{ opt }}</option>
                    </select>
                    <input v-else type="text" v-model="item[field.name]">
                </div>

                <footer class="dialog-footer">
                    <div class="form-group">
                        <label></label>
                        <button v-on:click="save">Save</button>
                        <button v-on:click="close">Close</button>
                    </div>
                </footer>
            </div>
        </div>
        <div class="dialog-overlay"></div>
    </div>

</template>
	

	<script src="https://unpkg.com/vue/dist/vue.js"></script>
	<script>
	Vue.component("simple-grid",{
		template:"#grid-template",
		props:["dataList","columns","searchKey"],
		methods:{
			openNewItemDialog: function(title) {
	           // 对话框的标题
	           this.title = title
	           // mode = 1表示新建模式
	           this.mode = 1
	           // 初始化this.item
	           this.item = {}
	           // 调用子组件的showDialog方法，显示对话框
	           this.$children[0].showDialog(true);
			},
			createItem: function() {
	           // 将item追加到dataList
	           this.dataList.push(this.item)
	           // 调用子组件的showDialog方法，隐藏对话框
	           this.$children[0].showDialog(false);
	           // 新建完数据后，重置item对象
	           this.item = {}
			},
			deleteItem:function(index){
				var data = this.dataList;
				data.splice(index,1);
			},
			filterFn:function(dataList,searchKey){
				return  this.dataList.filter(function(item){
					var searchReg = new RegExp(searchKey)
					return searchReg.test(item.name)
				})
			}
		},
		data: function() {
	        return {
	            mode: 0,
	            item: {},
	            title: ''
	        }
		},
		components: {
	        'modal-dialog': {
	            template: '#dialog-template',
	            data: function() {
	                return {
	                    // 对话框默认是不显示的
	                    show: false
	                }
	            },
	            /*
	             * mode = 1是新增数据模式，mode = 2是修改数据模式
	             * title表示对话框的标题内容
	             * fields表示对话框要显示的数据字段数组
	             * item是由simple-dialog传下来，用于绑定表单字段的
	             */
	            props: ['mode', 'title', 'fields', 'item'],
	            methods: {
	                close: function() {
	                    this.show = false
	                },
	                save: function() {
	                	//新建模式
	                    if (this.mode === 1){
	                        // 使用$emit触发create-item事件
	                        this.$emit('create-item')
	                    }

	                },
	                showDialog: function(show) {
	                    this.show = show
		            }
	            }
	        }
		}


	});
		var vm = new Vue({
			el: "#app",
			data:{
				searchStr: '',
				columns:[
				    {
				    	name:"name"	,
				    	isKey: true
				    },{
				    	name:"age"

				    },{
				    	name:"sex",
				    	dataSource: ['Male', 'Female']
				    }
				],
				people:[
	                {
	                	name:"Jack",
	                	age:22,
	                	sex:"male"
	                },
	                {
	                	name:"Linda",
	                	age:24,
	                	sex:"female"
	                },
	                {
	                	name:"Mary",
	                	age:33,
	                	sex:"female"
	                },
	                {
	                	name:"Bob",
	                	age:13,
	                	sex:"male"
	                }

				]
			},
			// methods:{
				
			// }
		
		});
	</script>
</body>


</html>